---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=<access_key>&AssociateTag=<associate_tag>&IdType=UPC&ItemId=610839331574&Operation=ItemLookup&ResponseGroup=Medium&SearchIndex=All&Service=AWSECommerceService&Signature=rbCrXwMg7kubliOwRMtSVB6Zbh7dGFIlkqxY/fbt0D0=&Timestamp=2013-02-28T13:59:44-05:00&Version=2011-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>5ac4a450-2f8b-4168-b542-c231c18fc66e</RequestId><Arguments><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Signature" Value="rbCrXwMg7kubliOwRMtSVB6Zbh7dGFIlkqxY/fbt0D0="></Argument><Argument
        Name="AssociateTag" Value="<associate_tag>"></Argument><Argument Name="Version"
        Value="2011-08-01"></Argument><Argument Name="ItemId" Value="610839331574"></Argument><Argument
        Name="IdType" Value="UPC"></Argument><Argument Name="AWSAccessKeyId" Value="<access_key>"></Argument><Argument
        Name="Timestamp" Value="2013-02-28T13:59:44-05:00"></Argument><Argument Name="ResponseGroup"
        Value="Medium"></Argument><Argument Name="SearchIndex" Value="All"></Argument></Arguments><RequestProcessingTime>0.0412300000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>UPC</IdType><ItemId>610839331574</ItemId><ResponseGroup>Medium</ResponseGroup><SearchIndex>All</SearchIndex><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B00AHIHH7E</ASIN><DetailPageURL>http://www.amazon.com/Asus-23-6-LCD-Monitor/dp/B00AHIHH7E%3FSubscriptionId%3D<access_key>%26tag%3D<associate_tag>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00AHIHH7E</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Asus-23-6-LCD-Monitor/dp/tech-data/B00AHIHH7E%3FSubscriptionId%3D<access_key>%26tag%3D<associate_tag>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB00AHIHH7E</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB00AHIHH7E%26SubscriptionId%3D<access_key>%26tag%3D<associate_tag>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB00AHIHH7E</[...]
[...]
